tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em 0;
  @media (max-width: 575px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &:last-of-type {
      display: block;
    }
    &:not(:first-child) {
      border-top: solid 1px #ccc;
    }
  }
  border-color: #ccc;
}

td,
th {
  display: flex;
  align-items: center;
  @media (max-width: 575px) {
    border: none;
  }
}
th {
  @media (min-width: 576px) {
    justify-content: center;
  }
}
td {
  justify-content: center;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
}
tr:last-child td:last-child {
  //   border: solid;
  align-items: center;

  button {
    width: 75%;
  }

  @media (max-width: 575px) {
    border-bottom: none;
    button {
      width: 100%;
    }
  }
}

#quantity {
  // border: solid;
  width: 85%;
  & :nth-child(2) {
    cursor: default;
    &:hover {
      background-color: transparent;
      color: #777;
    }
  }
}

.image-title-wrapper {
  // border: solid red;
  // & > * {border: solid green;}
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  width: 150px;
  align-items: center;

  .img-container {
    //   border: solid 1px #aaa;
    background-color: #f5f5f5;
    width: 100%;
    height: 200px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .item-description {
    font-weight: 600;
  }
}
